.chat-side
  .side-header
    .side-header__box
      %p.side-header__box--username
        masa
      %ul.side-header__box--menu
        %li.side-header__box__menu--new-group
          = link_to root_path do
            %i.fa.fa-edit
        %li.side-header__box__menu--edit
          = link_to root_path do
            %i.fa.fa-cog
  .groups