* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  .chat-side{
    width: 300px;
    height: 100%;
    background-color: #253141;
    color: #fff;
    .side-header{
      height: 100px;
      background-color: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__box{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        &--username{
          font-size: 16px;
          font-weight: bold;
        }
        &--menu{
          width: 60px;
          height: inherit;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          li{
            margin-left: 5px;
          }
          a{
            color: #fff;
          }
        }
      }
    }
    .groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px;
      a{
        text-decoration: none;
        color: #fff;
        display: block;
        .group{
          width: 260px;
          margin-bottom: 40px;
          &__group-name{
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__last-message{
            font-size: 11px;
          }
        }
      }
    }
  }
  .chat-main{
    width: calc(100vw - 300px);
    height: 100%;
    background-color: #fff;
    .main-header{
      height: 100px;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__left-box{
        padding-top: 35px;
        &--group-name{
          font-size: 20px;
          color: #333;
          padding-bottom: 15px;
        }
        &--member-list{
          display: flex;
          font-size: 12px;
          color: #999;
        }
      }
      a{
        text-decoration: none;
        color: #38aef0;
        display: block;
        .main-header__edit-btn{
          height: 40px;
          font-size: 16px;
          border: 1px solid #38aef0;
          padding: 0 20px;
          margin-top: 28px;
          line-height: 40px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
        }
      }
    }
    .messages{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 0 40px;
      .message{
        padding-top: 35px;
        padding-bottom: 11px;
        &__info{
          display: flex;
          margin-bottom: 12px;
          &--talker{
            font-weight: bold;
            font-size: 16px;
            color: #333;
          }
          &--date{
            font-size: 12px;
            color: #999;
            margin-left: 10px;
          }
        }
        &__text{
          font-size: 14px;
          color: #434a54;
        }
      }
    }
    .form{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}